<mat-toolbar>
  <button mat-icon-button aria-label="icon button with a home icon">
    <img src="assets/cytech32.png" routerLink="/home" />
  </button>

  <button
    mat-button
    routerLink="/about"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    About
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToLoginPage()">
      <mat-icon>person</mat-icon>
      <span>Log in</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>
