<mat-toolbar color="primary">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
    routerLink="/home"
  ></mat-icon>
  <mat-icon class="logo" routerLink="/" aria-label="Logo">favorite</mat-icon>
  <button
    mat-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    About
  </button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
