<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List of specialities</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Speciality</th>
          <th>Subjects</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let speciality of specialities | async">
          <td>{{ speciality.nameSpeciality }}</td>
          <td>{{ speciality.subject }}</td>
          <td>
            <button
              (click)="deleteSpeciality(speciality.idSpeciality)"
              class="btn btn-danger"
            >
              Delete
            </button>
            <!-- <button
              (click)="updateSpeciality(speciality.idSpeciality)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Update
            </button> -->
            <!-- <button
              (click)="specialityDetails(speciality.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
