<div class="d-flex mx-auto">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      value="today"
      (click)="setView(CalendarView.Day)"
      [class.active]="view === CalendarView.Day"
      style="background-color: #676e7d"
      value="left"
      >Today</mat-button-toggle
    >
    <mat-button-toggle
      value="month"
      (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
      style="background-color: #676e7d"
      value="center"
    >
      Month</mat-button-toggle
    >
    <mat-button-toggle
      value="week"
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
      style="background-color: #676e7d"
      value="right"
    >
      Week</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<div
  *ngIf="isLoading$ | async"
  class="d-flex align-items-center justify-content-center"
>
  <mat-spinner></mat-spinner>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event.day)"
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-day-view>
</div>

<br /><br /><br />

<button class="btn btn-primary float-end" (click)="addEvent()">Add</button>
<div class="clearfix"></div>
<h3>Edit events</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>

        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
