<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List of Subjects</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Subject name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <!-- <td>{{ subject.idSubject }}</td>
          <td>{{ subject.nameSubject }}</td> -->
          <td>test</td>
          <td>test</td>
          <td>
            <!-- <button (click)="deleteSubject(subject)" class="btn btn-danger">
              Delete
            </button> -->
            <!-- <button
              (click)="updateSubject(subject)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Update
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
