<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List of Subjects</h2>
    <button mat-menu-item (click)="openPopUpAddSubject()" class="text-primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Subject ID</th>
          <th>Subject name</th>
          <th>Actions</th>
          <th>Specialities with this subject included</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{ subject.idSubject }}</td>
          <td>{{ subject.nameSubject }}</td>
          <td>
            <button
              mat-menu-item
              (click)="openPopUpEditSubject(subject)"
              class="text-primary"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-menu-item
              (click)="deleteSubject(subject)"
              class="text-danger"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
