<div class="row text-center">
  <div class="col-md-4">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        value="today"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        >Today</mat-button-toggle
      >
      <mat-button-toggle
        value="month"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month</mat-button-toggle
      >
      <mat-button-toggle
        value="week"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event.day)"
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-day-view>
</div>
